<div class="container-fluid p-0 m-0">
  <!--   <div class="row bg-info w-100 text-white text-center m-0 p-0">
    <div class="col-12">
      <a href="">Logo</a>
    </div>
    <div class="col-12">
      <a href="">Employees</a>
    </div>
    <div class="col-12">
      <a href="">Settings</a>
    </div>
  </div>

  <div class="row justify-content-center align-items-center">
    <div class="col-6">

      <div class="table-responsive mt-5">
        <table class="table table-striped table-hover">
          <caption hidden>
            List of Employees
          </caption>
          <thead class="thead-dark">
            <tr class="">
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">NIF</th>
              <th scope="col">Date of Birth</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let user of users'>
              <th scope="row">#</th>
              <td>{{user.name.first}}</td>
              <td>a</td>
              <td>a</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
 -->

  <nav class="sidebar-nav w-25 h-100 d-flex justify-content-center border-right">
    <ul class="list-group list-group-flush">
      <a class="list-group-item m-0 p-5 text-center border-bottom"><img class="img-fluid logo" src="assets/svg/lab.svg">&nbsp;<strong>WorkLab</strong></a>
      <a class="list-group-item m-0 p-5 border-0"><img class="img-fluid sidebar-icon" src="assets/svg/employee.svg">&nbsp;Employees</a>
      <a class="list-group-item-light-light m-0 p-5 border-0"><img class="img-fluid sidebar-icon" src="assets/svg/settings.svg">&nbsp;Setting</a>
    </ul>
  </nav>

  <div class="content w-75 m-0 p-0 h-100 bg-light d-flex ml-auto">
    <div class="row">
      <div class="col-12 bg-info">



      </div>
      <div class="col-12">
        <div class="table-responsive mt-5">
          <table class="table table-striped table-hover">
            <caption hidden>
              List of Employees
            </caption>
            <thead class="thead-dark">
              <tr class="">
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">NIF</th>
                <th scope="col">Date of Birth</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let user of users'>
                <th scope="row">#</th>
                <td>{{user.name.first}}</td>
                <td>a</td>
                <td>a</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
