<div class="container-fluid p-0 m-0">

  <div class="row bg-info w-100 text-white text-center m-0 p-0">
    <div class="col-12">
      <a href="">Logo</a>
    </div>
    <div class="col-12">
      <a href="">Employees</a>
    </div>
    <div class="col-12">
      <a href="">Settings</a>
    </div>
  </div>

  <div class="row">
    <div class="col-12">

      <div class="table-responsive">
        <table class="table table-sm table-striped table-hover">
          <caption hidden>
            List of Employees
          </caption>
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">NIF</th>
              <th scope="col">Date of Birth</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let user of users'>
              <th scope="row">#</th>
              <td>{{user.name.first}}</td>
              <td>a</td>
              <td>a</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

</div>
