<div class="container-fluid p-0 m-0 d-flex align-items-center bg-light">

    <div class="card p-5 text-center w-50 mx-auto rounded-lg shadow">

        <form>
            <div class="row">
                <div class="col-12 my-4">
                    <h3 class="font-weight-bold">Login</h3>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control rounded-pill bg-transparent pr-5" type="text" placeholder="User"
                                aria-label="Username" />
                            <div class="input-group-append">
                                <span class="input-group-text border-0 bg-transparent ml-n5 text-muted">
                                    <i class="material-icons md-18 align-middle">person</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control rounded-pill bg-transparent pr-5" type="password"
                                placeholder="Password" aria-label="Password" />
                            <div class="input-group-append">
                                <span class="input-group-text border-0 bg-transparent ml-n5 text-muted">
                                    <i class="material-icons md-18 align-middle">lock</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <a class="font-weight-bold align-middle text-red">Register here</a>
                </div>
                <div class="col-6">
                    <a type="submit" class="btn btn-lg btn-dark w-100 text-white rounded-pill bg-black align-middle"
                        routerLink="/home" routerLinkActive="router-link-active">Login</a>
                </div>
            </div>
        </form>

    </div>

</div>