@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');

/* 
#2C2627
#BC2C3D
#777
#FEFEFE
#121212
*/

* {
    margin: none auto;
    padding: none auto;
    font-family: 'Ubuntu';
}

body {
    overflow-x: hidden;
    height: 100vh !important;
}

/* ::-webkit-scrollbar {}
::-webkit-scrollbar-button {}
::-webkit-scrollbar-thumb {}
::-webkit-scrollbar-track {}
::-webkit-scrollbar-track-piece {}
::-webkit-scrollbar-corner {}
::-webkit-resizer {} */

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.container-fluid {
    height: 100vh !important;
}

a { 
    color: inherit !important;
}

.logo {
    width: 28px;
    height: 28px;
}

.sidebar-icon{
    width: 14px;
    height: 14px;
}

.bg-red{
    background-color: #BC2C3D;
}

.bg-white {
    background-color: #FEFEFE !important;
}

.bg-grey {
    background-color: #999999 !important;
}

.bg-black {
    background-color: #2C2627 !important;
}

.text-black {
    color: #2C2627;
}

.text-red {
    color: #BC2C3D;
}

.text-grey {
    color: #999999;
}

h1 {
    font-family: 'MuseoModerno', 'Unica One' !important;
}

li {
    list-style-type: none !important;
}

.list-group-item.active {
    background-color: transparent !important;
}