@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* 
#2C2627
#BC2C3D
#777
*/

* {
    margin: none auto;
    padding: none auto;
    font-family: 'Poppins';
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {}
::-webkit-scrollbar-button {}
::-webkit-scrollbar-thumb {}
::-webkit-scrollbar-track {}
::-webkit-scrollbar-track-piece {}
::-webkit-scrollbar-corner {}
::-webkit-resizer {}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.container-fluid {
    height: 100vh !important;
}

a { 
    color: inherit !important;
}

a:hover {

}

.logo {
    width: 28px;
    height: 28px;
}

.sidebar-icon{
    width: 14px;
    height: 14px;
}

.bg-red{
    background-color: #BC2C3D;
}

.bg-black{

}

.text-black {
    color: #2C2627;
}

.text-red{
    color: #BC2C3D;
}